<div class="container" style="padding-top: 120px;">
    <h2>Equipo</h2>
    <p>Buenas noches, somos el grupo 1 y estos son nuestros integrantes</p>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-6 col-md-4 portfolio-item">
            <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                <div class="portfolio-hover">
                </div><img class="img-fluid" src="assets/img/Hombre.jpg"></a>
            <div class="portfolio-caption">
                <h4>Didier Pachas</h4>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 portfolio-item">
            <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                <div class="portfolio-hover">
                </div><img class="img-fluid" src="assets/img/Mujer.png"></a>
            <div class="portfolio-caption">
                <h4>Eliana Ganoza</h4>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 portfolio-item">
            <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                <div class="portfolio-hover">
                </div><img class="img-fluid" src="assets/img/Hombre.jpg"></a>
            <div class="portfolio-caption">
                <h4>Juan carlos Lujan</h4>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 portfolio-item">
            <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                <div class="portfolio-hover">
                </div><img class="img-fluid" src="assets/img/Hombre.jpg"></a>
            <div class="portfolio-caption">
                <h4>Mario Quintero</h4>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 portfolio-item">
            <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                <div class="portfolio-hover">
                </div><img class="img-fluid" src="assets/img/Hombre.jpg"></a>
            <div class="portfolio-caption">
                <h4>Michael Coaguila</h4>
            </div>
        </div>
    </div>
</div>